/.vs/
/SharpLesson3/bin/
/SharpLesson3/obj/
/SharpLesson4/bin/
/SharpLesson4/obj/
/SharpLesson4Lib/bin/
/SharpLesson4Lib/obj/
/SharpLesson5/bin/
/SharpLesson5/obj/
/SharpLesson6/bin/
/SharpLesson6/obj/
/SharpLesson7Doubler/bin/
/SharpLesson7Doubler/obj/
/SharpLesson7GuessNumber/bin/
/SharpLesson7GuessNumber/obj/
/SharpLesson8DB/bin/
/SharpLesson8DB/obj/
/SharpLesson8DBLib/bin/
/SharpLesson8DBLib/obj/